<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    {{ partial "head.html" . }}
</head>

<body>
  {{/*  <div class="main-wrapper">  */}}
    {{/*  <div class="container px-3 px-lg-5">  */}}
      {{/*  <article class="resume-wrapper mx-auto theme-bg-light p-5 shadow-lg">  */}}
        {{ partial "header.html" . }}
        {{ if .Site.Params.summary.enable }}
          {{ partial "summary.html" . }}
        {{ end }}
        <div class="resume-body">
          <div class="resume-main">
            {{ range .Pages }}
              {{ partial "section.html" . }}
            {{ end }}
          </div><!--//resume-main-->
        </div><!--//resume-body-->
      {{/*  </article>  */}}
    {{/*  </div><!--//container-->  */}}
    {{/*  {{ partial "footer.html" . }}  */}}
  {{/*  </div><!--//main-wrapper-->  */}}
  {{ partial "scripts.html" . }}
</body>

</html>
