
                <div class="resume-header">

                    <div class="row align-items-center">

                        <div class="resume-title col-12 col-md-6 col-lg-8 col-xl-9">
                            <h2 class="resume-name mb-0 text-uppercase">{{ .Site.Params.profile.name }}</h2>
                            <div class="resume-tagline mb-3 mb-md-0">{{ .Site.Params.profile.tagline }}</div>
                            <div class="resume-contact">
                                {{ range .Site.Params.contact.list }}
                                    <a class="mb-0"><i class="{{ .icon }} fa-fw fa-lg mr-2"></i><a class="resume-link" href="{{ replace .url "#" .text | safeURL }}">{{ .text }}</a></a>
                                {{ end }}
                                <a class="mb-0"><i class="fas fa-map-marker-alt fa-fw fa-lg mr-2"></i>{{ .Site.Params.contact.location }}</a>
                            </div>
                        </div>
                        
                        <div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
                            <ul class="list-unstyled mb-0">
                                {{ range .Site.Params.social.list }}
                                    <li class="mb-2"><i class="{{ .icon }} fa-fw fa-lg mr-2"></i><a class="resume-link" href="{{ replace .url "#" .text | safeURL }}">{{ .text }}</a></li>
                                {{ end }}
                            </ul>
                        </div>
                    </div><!--//row-->
                </div><!--//resume-header-->
